.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
.nav {
    display: flex;
}
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    margin: 3px;
}